@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lobster&family=Merriweather:ital,wght@1,300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    background-color: white;
}

.custom-bg {
    background-color: #70a9a1;

}

.container-fluid a {
    color: white;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

.oculto {
    display: none;
}

.visible {
    display: inline;
}

/**Barra principal del contacto**/
.barra-contacto {
    position: relative;
    width: 100%;
    background: #00a896;
    display: flex;
   
    padding: 15px;
    
}



.user {
    color: white;
}


.usuario i {
    font-size: 25px;
    color: #9a8c98;
    border-radius: 80%;
}

.usuario {
    margin-right: 10px;

}

.fa-user {
    width: 25px;
    height: 25px;
    background-color: white;
    cursor: pointer;
    margin-top: 5px;
}

.barra-envio a,
i {
    color: white;
    text-align: center;
    cursor: pointer;
}

.contador-producto {
    position: absolute;
    top: 35%;
    right: 15px;
    background-color: #1d3557;
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.usuario-seach {
    position: relative;
}
.info-contacto a{
    display: inline;
    color: white;
}
/**FIN Barra principal del contacto**/

/**Barra del logo**/


h2:hover {
    color: #90e0ef;
}

.usuario-seach i {
    font-size: 18px;
    margin-left: 20px;
    margin-right: 30px;
}



#cuantaCarrito {
    background-color: black;
    border-radius: 100%;
    width: 14px;
    display: inline-block;
    aspect-ratio: 1;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
    position: absolute;
}

.btn {
    border: none;
    background: #9a8c98;
    color: white;
    cursor: pointer;
    padding: 8px;
}

.btn:hover {
    color: #90e0ef;
    font-size: 1rem;
}

/**fin logo**/

/**Barra de menu**/
.text {
    background: url(computer.jpg);
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.nav-bar {
   
    width: 100%;
    padding: .2rem;
    display: flex;
    justify-content: space-around;
}

.info-contacto a{
    color: black;
    justify-items: center;
    padding: 10px;
   
}

.nav a {
    color: black;
    padding: 10px;
    font-size: 16px;
}

.nav a:hover {
    color: #2a9d8f;
    font-size: 20px;

}

#selected {
    color: #600352;
}

.container-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/** fin Barra de menu**/


/** CSS info cesta**/
.caja-cesta {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.contenedorCesta {
    position: fixed;
    top: 50px;
    right: -100%;
    z-index: 1;
    width: 350px;
    padding: 20px;
    background: white;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: .3s;
}

.contenedorCesta.active {
    right: 0;
}

.titulo-cesta {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detalle-box {
    display: grid;
    row-gap: 0.5rem;
}

.fa-trash {
    font-size: 18px;
    color: #00a896;
    cursor: pointer;
    margin-right: 25px;
}

.fa-trash:hover {
    color: black;
}

.fa-x {
    color: black;
    font-size: 1.2rem;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid;
    margin-bottom: 40px;
}

.tituloTotal {
    font-size: 1rem;
    font-weight: 500;
}

.precioTotal {
    margin-left: 0.5rem;
}

.btn-comprar {
    margin: 1rem auto 0 auto;
    padding: 10px 10px;
    border: none;
    background: #00a896;
    color: white;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
}

.btn-comprar:hover {
    background: #01281f;
}

#cerrarCarrito {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
}

.productoTitulo {
    font-size: 1rem;
    text-transform: uppercase;
}

.productoPrecio {
    font-weight: 400;
}

.cantidadProducto {
    border: 1px solid;
    outline-color: green;
    width: 3.8rem;
    text-align: center;
    font-size: 1rem;
}

/*** Fin CSS info cesta **/

/***CSS buscador producto **/
.cont-buscar {
    margin-top: 10px;
}

.cont-buscar {
    position: fixed;
    background: white;
  
    pointer-events: none;
    overflow-y: auto;
    width: 330px;
    padding: 0;
    box-shadow: -2px 0 4px 5px rgba(0, 0, 0, 0.10);
}

.cont-buscar ul {
    list-style: none;
    font-size: 16px;

}

.formularioBuscar.active .cont-buscar {
    pointer-events: auto;
    opacity: 1;
    padding: 10px 5px;
}

.formularioBuscar.active .cont-buscar ul {
    display: block;
}

/*** Fin CSS buscador producto **/









/**CONTENEDOR PRODUCTOS**/
.contenedor-productos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
}

.productos {
    overflow: hidden;
    border: 1px solid;
    border-color: rgb(210, 206, 206);
    margin: 10px;
    cursor: pointer;
    background-color: white;
}

.btn-ofertas {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 30px;
}



.btn-ofertas button {
    padding: 8px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 11px;
    color: white;
    background-color: #2ddfb8;
}

.btn-ofertas button:hover {
    color: black;
    background-color: #00a896;
}

.productos,
p,
b {
    margin-left: 5px;
}

.productos img {
    width: 180px;
    height: 190px;
    cursor: pointer;
    transition: all .5;
    object-fit: cover;
}

.productos:hover img {
    transform: scale(1.1);
}

.ofertas {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 25px;
}

.imagen-ofertas-pub {
    background-image: url(audio2.jpg);
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5;
    object-fit: cover;
    cursor: pointer;
   
}

.imagen-subscribe:hover {
    transform: scale(1.1);

}

.imagen-ofertas {
    background-image: url(foto3.jpg);
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5;
    object-fit: cover;
    cursor: pointer;
}

.imagen-subscribe {
    background-image: url(foto1.jpg);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5;
    object-fit: cover;
    cursor: pointer;
}

.ofertas button {
    background-color: #2ddfb8;
    padding: .2rem;
    width: 20%;
    outline: none;
    border: none;
    margin: 40px 30px;
    border-radius: 25px;
    color: white;
}

.contenedor-subscribe {
    display: flex;
    justify-content: center;
}

.descuento {
    color: white;
    font-size: 18px;
}

.descuento h4 {
    font-size: 50px;
    color: white;
}

.subscribirse {
    margin: 35px 20px;
}

.btn-subscribe {
    display: flex;
}


.btn-subscribe input {
    width: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    padding: .2rem;
    margin-top: 0;
    border-radius: 25px;
}

.subscribirse button {

    padding: .3rem;
    width: 40%;
    outline: none;
    border: none;
    border-radius: 25px;
    background-color: #2ddfb8;
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-left: 20px;

}

.btn-subscribe button:hover {
    background-color: white;
    color: black;
}

input:hover {
    color: #4e7b93;
}

.info-entrega {
    margin-top: 25px;
    border-right: 1px solid;
}

.info-entrega,
a,
p {
    font-size: 12px;
}

.info-entrega a:hover {
    color: #9a8c98;
}

.info-entrega p:hover {
    color: #9a8c98;
}

.info-entrega i {
    color: #9a8c98;
    font-size: 16px;
    cursor: pointer;
}

.productos {
    display: flex;
    flex-direction: column;
}

.productos button {
    margin: 10px 15px;
    background-color: #2ddfb8;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 30px;
}

.productos b {
    margin: 10px 15px;
    font-size: 16px;
}

.productos p {
    margin-top: 10px;

}

.productos button:hover {
    color: black;
    background-color: white;
    border: 1px solid;
    border-color: #00a896;
}

/** FIN CONTENEDOR PRODUCTOS**/


/*** CSS login, Registrar ***/
.titulo-registro {
    margin-bottom: 40px;
    font-size: 1.5rem;
    color: rgb(3, 3, 117);
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px
}

form {
    width: 400px;
}

.registro {
    display: flex;
    flex-direction: column;
}

.registro input {
    padding: 8px;
    width: 100%;
    outline: none;
    margin-top: 5px;
    font-size: 18px;
}

.registro,
.login label {
    font-size: 18px;
}

.userLogin,
.registro,
p,
a {
    font-size: 18px;

}

.login input {
    padding: 8px;
    width: 100%;
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid;
    border-color: rgb(66, 66, 70);
    font-size: 18px;
}

select {
    padding: 6px;
    margin-top: 15px;
    outline: none;
}

.registro,
a,
p {
    display: flex;
    justify-content: space-evenly;
}

label {
    margin-top: 10px;
}

.btn-registrar {
    background-color: blue;
    color: white;
    outline: none;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
}

.error {
    color: red;
    display: block;
}

#mensaje {
    color: red;
}

.invalid {
    border: 1px solid red;
    box-shadow: 0 0 8px red;
}

/***Fin CSS login ,Registra ***/

/**Footer**/
footer {
    width: 100%;
    height: 100%;
    background-color: #00a896;
    margin-top: 40px;
}

.terminos {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.terminos p {
    margin-top: 40px;
    color: white;
    font-size: 16px;
}

.tarjetas {
    display: flex;
    justify-content: center;
}

.tarjetas img {
    width: 70px;
    height: 50px;
    padding: 5px;
    margin-top: 10px;
}

.metodo-pago p {
    display: flex;
    justify-content: center;
    color: #ffff;
    margin-top: 25px;
    font-size: 16px;
}

.cont-footer.ayuda {
    margin-top: 40px;
}

.ayuda b p {
    color: #ffff;
    font-size: 16px;
}

.autor {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: rgb(189, 186, 186);
    font-size: 16px;
}